<!-- @TODO course|project -->
<div class="panel panel-default">
  <div class="panel-body projectDetail">
    <h4 class="text-center">{{name}}</h4>
    <p>{{description}}</p>
    <p class="project-update-date">{{formatDate lastUpdated}}</p>
  </div>
  <div class="panel-footer project-editor">
    <div class="btn-group btn-group-justified">
      <a class="edit-link btn btn-default" href="#/project/edit/{{_id}}">Edit</a>
      <a class="delete-link btn btn-default" href="#project/delete/{{_id}}">Delete</a>
    </div>
  </div>
</div>
