<div class="actions-inner">
    <select class="actions-select">
        {{#if placeholderText}}
        <option value="" selected>
        {{placeholderText}}
        </option>
        {{/if}}
        {{#each _items}}
        <option value="{{value}}" data-apply="{{applyButtonText}}">
        {{text}}
        </option>
        {{/each}}
    </select>

    <button class="btn actions-apply-button">
        <span class="actions-apply-button-original">{{buttonText}}</span>
        <span class="actions-apply-button-apply display-none"></span>
    </button>
</div>