<div class="frameworkImport-inner">
  <div class="frameworkImport-description col-row tb-row {{category}}">
    <div class="col-40">
      {{displayName}}
    </div>
    <div class="col-20 col-centered import-version">
      {{importVersion}}
    </div>
    <div class="col-20 col-centered at-version">
      {{authoringToolVersion}}
    </div>
    <div class="col-20 col-centered status">
      {{status}}
    </div>
  </div>
</div>