<a href="#" data-callback="{{callbackEvent}}" data-group="{{group}}" class="option-value-{{value}}" title="{{title}}">
	{{#if icon}}
	<i class="fa fa-{{icon}}"></i>
	{{/if}}
	<span>{{{title}}}</span>
</a>