<div class="location-title-inner">
  {{#if breadcrumbs}}
    <div class="breadcrumbs">
      {{#each breadcrumbs}}
        <div class="item">
          {{#if @last}}
            {{title}}
          {{else}}
            {{#if url}}
              <a href="{{url}}">{{title}}</a>
            {{else}}
              {{title}}
            {{/if}}
          {{/if}}
        </div>
        {{#unless @last}}
          <div class="separator unselectable">&gt;</div>
        {{/unless}}
      {{/each}}
    </div>
  {{/if}}
  {{#if title}}
    <div class="titles">
      {{#if course}}
        <div class="course">{{course.title}}</div>
      {{/if}}
      <div class="title">{{title}}</div>
    </div>
  {{/if}}
</div>
