<div class="sidebar-item-inner">
  <button class="editor-common-sidebar-preview action-primary">
    <span class="editor-common-sidebar-preview-inner">{{ t 'app.preview'}}</span>
    <span class="editor-common-sidebar-previewing display-none">
      <i class="fa fa-circle-o-notch fa-spin"></i>{{ t 'app.previewing'}}
    </span>
  </button>

  <button class="editor-common-sidebar-download action-secondary">
    <span class="editor-common-sidebar-download-inner">{{ t 'app.download'}}</span>
    <span class="editor-common-sidebar-downloading display-none">
      <i class="fa fa-circle-o-notch fa-spin"></i>{{ t 'app.downloading'}}
    </span>
  </button>

  {{#ifHasPermissions "*/*:create,*/*:read,*/*:update,*/*:delete"}}
  <button class="editor-common-sidebar-export action-secondary">
    <span class="editor-common-sidebar-export-inner">{{ t 'app.export'}}</span>
    <span class="editor-common-sidebar-exporting display-none">
      <i class="fa fa-circle-o-notch fa-spin"></i>{{ t 'app.exporting'}}
    </span>
  </button>
  {{/ifHasPermissions}}

  <div class="separator" />

  <div class="sidebar-row">
    <button class="editor-common-sidebar-project">
      <span class="editor-common-sidebar-project-inner">
        <i class="fa fa-chevron-right primary-color"/>{{ t 'app.projectsettings'}}
      </span>
    </button>
  </div>

  <div class="sidebar-row">
    <button class="editor-common-sidebar-config">
      <span class="editor-common-sidebar-config-inner">
        <i class="fa fa-chevron-right primary-color"/>{{ t 'app.configurationsettings'}}
      </span>
    </button>
  </div>

  <div class="sidebar-row">
    <button class="editor-common-sidebar-select-theme">
      <span class="editor-common-sidebar-select-theme-inner">
        <i class="fa fa-chevron-right primary-color"/></i>{{ t 'app.themepicker'}}
      </span>
    </button>
  </div>

  <div class="sidebar-row">
    <button class="editor-common-sidebar-menusettings">
      <span class="editor-common-sidebar-menusettings-inner">
        <i class="fa fa-chevron-right primary-color"/></i>{{ t 'app.menupicker'}}
      </span>
    </button>
  </div>

  <div class="sidebar-row">
    <button class="editor-common-sidebar-extensions">
      <span class="editor-common-sidebar-extensions-inner">
        <i class="fa fa-chevron-right primary-color"/></i>{{ t 'app.manageextensions'}}
      </span>
    </button>
  </div>

  <form id="downloadForm" method="get" action=""></form>
</div>
