<div class="editor-item-settings handle">
  <div class="editor-item-settings-inner">

    <button class="open-context-icon open-context-{{_type}}" title="{{t 'app.clicktoedit'}}">
      <i class="fa fa-cog fa-fw"></i>
    </button>
    <button class="{{_type}}-delete editor-delete-page-element" title="{{ t 'app.clicktodelete'}}">
      <i class="fa fa-trash-o"></i>
    </button>

    {{#if _movePositions}}
      {{#if _movePositions.left}}
        <button class="{{_type}}-move {{_type}}-move-left editor-move-page-element" title="{{ t 'app.layoutleft'}}">
          <i class="fa fa-long-arrow-left"></i>
        </button>
      {{/if}}
      {{#if _movePositions.right}}
        <button class="{{_type}}-move {{_type}}-move-right editor-move-page-element" title="{{ t 'app.layoutright'}}">
          <i class="fa fa-long-arrow-right"></i>
        </button>
      {{/if}}
      {{#if _movePositions.full}}
        <button class="{{_type}}-move {{_type}}-move-full editor-move-page-element" title="{{ t 'app.layoutfull'}}">
          <i class="fa fa-arrows-h"></i>
        </button>
      {{/if}}
    {{/if}}

    <div class="{{_type}}-detail-inner editor-page-element-detail-inner">
      <h4 class="{{_type}}-title title">{{#if displayTitle}}{{{displayTitle}}}{{else}}{{title}}{{/if}}</h4>
    </div>

    {{#if _isCollapsible}}
    <button class="editor-collapse-{{_type}} {{#if _isCollapsed}}iscollapsed{{/if}}" title="{{ t 'app.collapsearticle'}}">
      <i class="fa fa-minus"></i>
    </button>
    {{/if}}

  </div>
</div>
