<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>{{subject}}</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="logo">{{logoText}}</div>
<div class="content">
  <div class="title">
    {{subject}}
  </div>
  {{{text}}}
</div>
<div class="footer">
  {{footer}}
</div>
</body>
</html>
