<div class="asset-management-new-asset-inner inner">
    <!-- Begin upload form -->
    <form class="asset-form forms asset-form" action="/api/asset" method="post">
        <div class="form-group">
            <label for="file">
                {{t 'app.assetfile'}} <span class="req">*</span>
                <span class="error"></span>
            </label>
            {{#if path}}
            <div class="asset-management-new-asset-file">
                {{t 'app.fileuploaded'}}
            </div>
            {{else}}
            <input type="file" class="asset-file" name="file">
            <div class="progress-container">
                <div class="progress-bar">
                    <div class="progress-percent">0%</div>
                </div>
            </div>
            {{/if}}
        </div>
        <div class="form-group">
            <label for="title">
                {{t 'app.assettitle'}} <span class="req">*</span>
                <span class="error"></span>
            </label>
            <input type="text" class="asset-title required" name="title" placeholder="{{t 'app.assettitle'}}" value="{{ title }}" autocomplete="off">
        </div>

        <div class="form-group">
            <label for="description">
                {{t 'app.assetdescription'}} <span class="req">*</span>
                <span class="error"></span>
            </label>
            <textarea class="asset-description required" name="description" placeholder="{{t 'app.assetdescription'}}">{{ description }}</textarea>
        </div>

        <div class="form-group">
            <label for="attribution">
                {{t 'app.assetattribution'}} <span class="req">*</span>
                <span class="error"></span>
            </label>
            <textarea class="asset-attribution required" name="attribution" placeholder="{{t 'app.assetattribution'}}">{{ attribution }}</textarea>
        </div>

        <div class="form-group">
            <label for="source">
                {{t 'app.assetsource'}} <span class="req">*</span>
                <span class="error"></span>
            </label>
            <textarea class="asset-source required" name="source" placeholder="{{t 'app.assetsource'}}">{{ source }}</textarea>
        </div>

        <div class="form-group">
            <label for="licence">
                {{t 'app.assetlicence'}} <span class="req">*</span>
                <span class="error"></span>
            </label>
            <select class="asset-licence required" name="licence" >
                <option value=""></option>
                <option value="CC0">CC0</option>
                <option value="CC-BY">CC-BY</option>
                <option value="CC-BY-SA">CC-BY-SA</option>
                <option value="CC-BY-NC">CC-BY-NC</option>
                <option value="CC-BY-NC-SA">CC-BY-NC-SA</option>
                <option value="CC-BY-ND">CC-BY-ND</option>
                <option value="CC-BY-ND">CC-BY-NC-ND</option>
                <option value="All rights reserved">All rights reserved</option>
                <option value="Shutterstock standard licence">Shutterstock standard licence</option>
                <option value="Other">Other (see description)</option>
            </select>
            <script>
            $( document ).ready(function() {
               $('.asset-licence').val('{{ licence }}');
            });
            </script>
        </div>

        <div class="form-group tags">
            <label for="tags">{{t 'app.tags'}}</label>
            <input type="text" autocomplete="off" class="width-30" id="tags_control" name="tags_control" value="{{pickCSV tags "title"}}" />
        </div>
        <input type="hidden" name="tags" id="tags" />
    </form>
    <!-- end upload form -->
</div>
