<div class="asset-picker-filters">
    {{!-- inline search field with close button --}}
    <label for="asset-picker-filter-search">{{t 'app.filter'}}</label>
    <input type="text" name="asset-picker-filter-search" class="asset-management-sidebar-filter-search" placeholder="{{t 'app.searchtitleordescription'}}"/>
    <button class="sidebar-inline-input-button asset-picker-sidebar-filter-clear-search">
        <i class="fa fa-times"></i>
    </button>
    <button class="asset-picker-sidebar-filter-image asset-picker-sidebar-filter-button" data-filter-type="image">
        <span class="asset-picker-sidebar-filter-image-inner">
            {{t 'app.filetypeimage' }}
        </span>
    </button>

    <button class="asset-picker-sidebar-filter-audio asset-picker-sidebar-filter-button" data-filter-type="audio">
        <span class="asset-picker-sidebar-filter-audio-inner">
            {{t 'app.filetypeaudio' }}
        </span>
    </button>

    <button class="asset-picker-sidebar-filter-video asset-picker-sidebar-filter-button" data-filter-type="video">
        <span class="asset-picker-sidebar-filter-video-inner">
            {{t 'app.filetypevideo' }}
        </span>
    </button>

    <button class="asset-picker-sidebar-filter-other asset-picker-sidebar-filter-button" data-filter-type="other">
        <span class="asset-picker-sidebar-filter-other-inner">
            {{t 'app.filetypeother' }}
        </span>
    </button>
</div>


<div class="asset-management-inner">
    <div class="asset-management-assets-container">
        <div class="asset-management-no-assets">{{t 'app.noassetsfound'}}</div>
        <div class="asset-management-assets-container-inner">
        </div>
    </div>
    <div class="asset-management-preview-container">
        <div class="asset-management-no-preview">{{t 'app.assetpreviewinstruction'}}</div>
        <div class="asset-management-preview-container-inner">
        </div>
    </div>
</div>