<div class="extension-management-inner">
  <div class="extension-management-enabled-extensions-title tb-row tb-title">
    <h2>{{ t 'app.enabledextensions'}}</h2>
  </div>

  <div class="extension-management-heading col-row tb-row tb-heading">
    <div class="extension-management-heading extension-management-heading-title col-20">
      <h4 class="extension-management-heading-title-inner tb-col-inner">{{t 'app.extension'}}</h4>
    </div>
    <div class="extension-management-heading extension-management-heading-description col-60">
      <h4 class="extension-management-heading-description-inner tb-col-inner">{{t 'app.description'}}</h4>
    </div>
    <div class="extension-management-heading extension-management-heading-options col-20 col-centered">
      <h4 class="pluginType-heading-version-inner tb-col-inner">{{t 'app.options'}}</h4>
    </div>
  </div>

  <div class="extension-management-plugins clearfix grid-layout">
    {{#if enabledExtensions}}
      {{!-- plugins rendered in here --}}
      {{#each enabledExtensions}}
        <div class="extension-management-plugin tb-row tb-row-{{odd @index}}">
          <div class="extension-management-plugin-inner col-row">
            <div class="extension-management-plugin-title col-20">
              <h4 class="extension-management-plugin-title-inner tb-col-inner">{{{displayName}}}</h4>
            </div>
            <div class="extension-management-plugin-description col-60">
              <div class="extension-management-plugin-description-inner tb-col-inner">{{{description}}}</div>
            </div>
            <div class="extension-management-plugin-remove col-20 col-centered">
              <div class="extension-management-plugin-remove-inner tb-col-inner">
                <button class="btn alert remove-extension" data-displayName="{{{displayName}}}" data-id="{{_id}}">{{t 'app.remove'}}</button>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    {{else}}
      <div class="tb-row">{{t 'app.noextensionsenabled'}}</div>
    {{/if}}
  </div>

  <div class="extension-management-enabled-extensions-title tb-row tb-title">
    <h2>{{ t 'app.availableextensions'}}</h2>
  </div>
  <div class="extension-management-heading tb-row col-row tb-heading">
    <div class="extension-management-heading extension-management-heading-title col-20">
      <h4 class="extension-management-heading-title-inner tb-col-inner">{{t 'app.extension'}}</h4>
    </div>
    <div class="extension-management-heading extension-management-heading-description col-60">
      <h4 class="extension-management-heading-description-inner tb-col-inner">{{t 'app.description'}}</h4>
    </div>
    <div class="extension-management-heading extension-management-heading-options col-20 col-centered">
      <h4 class="pluginType-heading-version-inner tb-col-inner">{{t 'app.options'}}</h4>
    </div>
  </div>

  <div class="extension-management-plugins clearfix grid-layout">
    {{#if availableExtensions}}
      {{!-- plugins rendered in here --}}
      {{#each availableExtensions}}
        <div class="extension-management-plugin tb-row tb-row-{{odd @index}}">
            <div class="extension-management-plugin-inner col-row">
                <div class="extension-management-plugin-title col-20">
                    <h4 class="extension-management-plugin-title-inner tb-col-inner">{{{displayName}}}</h4>
                </div>

                <div class="extension-management-plugin-description col-60">
                    <div class="extension-management-plugin-description-inner tb-col-inner">{{{description}}}</div>
                </div>

                <div class="extension-management-plugin-remove col-20 col-centered">
                    <div class="extension-management-plugin-remove-inner tb-col-inner">
                        <button class="btn secondary add-extension" data-displayName="{{{displayName}}}" data-id="{{_id}}">{{t 'app.add'}}</button>
                    </div>
                </div>

            </div>
        </div>
      {{/each}}
    {{else}}
    <div class="tb-row">{{t 'app.noextensionsavailable'}}</div>
    {{/if}}
  </div>
</div>
