<div class="inner">
  <div class="title">
    {{t 'app.addtenantformtitle'}}
  </div>
  <form class="add-Tenant forms" action="/api/tenant" method="post" autocomplete="off">
    <div class="form-group">
      <label for="tenantName"> {{t 'app.tenantname'}}
      <span class="req">*</span>
      <span id="tenantNameError" class="error"></span>
    </label>
      <input type="text" id="tenantName" name="name" value="{{tenantName}}" autocomplete="off">
    </div>

    <div class="form-group">
      <label for="tenantDisplayName">{{t 'app.tenantdisplayname'}}
      <span class="req">*</span>
      <span id="tenantDisplayNameError" class="error"></span>
    </label>
      <input type="text" id="tenantDisplayName" name="displayName" value="{{tenantDisplayName}}" autocomplete="off">
    </div>
  </form>
</div>