<!-- @TODO course|project -->
<div class="projectDetail">
  <h4 class="text-center">{{name}}</h4>
  <p>{{description}}</p>
  <div class="project-editor">
  <a class="edit-link" href="#/project/edit/{{_id}}">Edit</a>
  <a class="delete-link" href="#project/delete/{{_id}}">Delete</a>
  </div>
  <div class="project-update-date">{{lastUpdated}}</div>
</div>