<div class="location-buttons">
	{{#if publish}}
	<button class="location-button-secondary publish">
		{{{publish}}}
	</button>
	{{/if}}
	{{#if preview}}
	<button class="location-button-primary preview">
		{{{preview}}}
	</button>
	{{/if}}

	{{#if cancel}}
	<button class="location-button-secondary cancel">
		{{{cancel}}}
	</button>
	{{/if}}
	{{#if save}}
	<button class="location-button-primary save">
		{{{save}}}
	</button>
	{{/if}}
</div>

<div class="location-title-inner">
	<div class="location-title-directory">
		<a href="#/dashboard">{{{subTitle}}}</a>
	</div>
	<div class="location-title-page">
		{{{title}}}
	</div>
</div>

