<div class="location-title-inner">
	{{#if breadcrumbs}}
		<div class="breadcrumbs">
			{{#each breadcrumbs}}
				<div class="item">

					{{!
					Add link if last element isn't equal to the page title
					}}

					{{#ifLastElement @index ../breadcrumbs}}
						{{title}}
					{{else}}
						{{#if url}}
							<a href="{{url}}">{{title}}</a>
						{{else}}
							{{title}}
						{{/if}}
					{{/ifLastElement}}
				</div>
				{{#ifLastElement @index ../breadcrumbs}}
				{{else}}
					<div class="separator unselecable">&gt;</div>
				{{/ifLastElement}}
			{{/each}}
		</div>
	{{/if}}
	<div class="title">
		{{title}}
	</div>
</div>
