<div class="password-fields">
  <div class="inner">
    <label for="password">{{t 'app.newpassword'}}
      <span class="req">*</span>
    </label>
    <input type="password" class="width-15" id="password" value="" autocomplete="off" aria-describedby="passwordFeedback">
    <input type="text" class="width-15 display-none" id="passwordText" value="" autocomplete="off">
    <button href="#" class="toggle-password display-none"><i class="fa fa-eye"></i></button>
    <div>
      <div id="passwordFeedback" class="error feedback" aria-live="polite">
        <div>
          <span role="checkbox" aria-checked="false">&#10008;</span>
          {{ t 'app.passwordneedsspeccialcharacter' }}
        </div>
        <div>
          <span role="checkbox" aria-checked="false">&#10008;</span>
          {{ t 'app.passwordneedsonenumber' }}
        </div>
        <div>
          <span role="checkbox" aria-checked="false">&#10008;</span>
          {{ t 'app.passwordneedsuppercaseletter' }}
        </div>
        <div>
          <span role="checkbox" aria-checked="false">&#10008;</span>
          {{ td 'app.validationlength' '{ "length": 8 }' }}
        </div>
      </div>
    </div>
  </div>
  <div class="inner">
    <label for="confirmPassword">{{t 'app.confirmpassword'}}
      <span class="req">*</span>
    </label>
    <input type="password" class="width-15" id="confirmPassword" value="" autocomplete="off">
    <button href="#" class="toggle-password display-none"><i class="fa fa-eye"></i></button>
    <div>
      <div id="confirmPasswordError" class="error feedback"></div>
    </div>
  </div>
</div>