<div class="password-fields">
  <div class="">
    <label for="{{fieldId}}">{{t 'app.newpassword'}}
      <span class="req">*</span>
      <span id="passwordError{{genericId}}" class="error{{genericId}} field-error feedback"></span>
    </label>
    <div class="password-wrapper">
      <input type="password" class="width-15" id="{{fieldId}}{{genericId}}" name="{{fieldId}}" value="" autocomplete="off"
        aria-describedby="passwordrequirements{{genericId}}">
      <input type="text" class="width-15 display-none" id="passwordText{{genericId}}" value="" autocomplete="off">
      <button href="#" class="toggle-password display-none"><i class="fa fa-eye"></i></button>
    </div>
    <div id="passwordrequirements{{genericId}}">
      <label for="passwordchecklist{{genericId}}" style="position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden;">
        {{ t 'app.passwordrequirements' }}
      </label>
      <div id="passwordchecklist{{genericId}}">
        <div>
          <span class="password{{genericId}}-special-char-feedback">&#10008;</span>
          {{ t 'app.passwordneedsspeccialcharacter' }}
        </div>
        <div>
          <span class="password{{genericId}}-number-feedback">&#10008;</span>
          {{ t 'app.passwordneedsonenumber' }}
        </div>
        <div>
          <span class="password{{genericId}}-uppercase-feedback">&#10008;</span>
          {{ t 'app.passwordneedsuppercaseletter' }}
        </div>
        <div>
          <span class="password{{genericId}}-length-feedback">&#10008;</span>
          {{ t 'app.passwordminimumlength' }}
        </div>
        <p class="password{{genericId}}-checklist-feedback"
          aria-live="polite"
          style="position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden;"></p>
      </div>
    </div>
  </div>
  <div style="margin-top: 15px" class="">
    <label for="confirmPassword">{{t 'app.confirmpassword'}}
      <span class="req">*</span>
      <span id="confirmPasswordError{{genericId}}" class="error{{genericId}} field-error feedback"></span>
    </label>
    <div class="password-wrapper">
      <input type="password" class="width-15" id="confirmPassword{{genericId}}" name="confirmPassword" value="" autocomplete="off">
      <input type="text" class="width-15 display-none" id="confirmPasswordText{{genericId}}" value="" autocomplete="off">
      <button href="#" class="toggle-confirmation-password display-none"><i class="fa fa-eye"></i></button>
    </div>
  </div>
  <div class="server-errors-container field-error"></div>
</div>