<div class="navigation-inner clearfix">
  <div class="navigation-left">
    {{#if isAuthenticated}}
    <li data-route="dashboard"><a href="#/dashboard">{{t 'app.dashboard'}}</a></li>
    {{/if}}
  </div>
  <div class="navigation-right">
    {{#if isAuthenticated}}
    <li>
      <span>{{t 'app.loggedinas'}} <a href="#/user/profile">{{email}}</a>
      </span>
    </li>
    <li data-route="logout">
      <a href="#/user/logout">{{t 'app.logout'}}</a>
    </li>
    {{else}}
    <li data-route="login">
      <a href="#/user/login">{{t 'app.login'}}</a>
    </li>
    {{/if}}
  </div>
</div>