<div class="navigation-inner clearfix">
  <div class="navigation-left">
    {{#if isAuthenticated}}
    <a href="#" class="navigation-item navigation-global-menu" data-event="globalMenu:toggle"><i class="fa fa-bars"></i></a>
    <div href="#" class="navigation-item navigation-product-name">{{t 'app.productname'}}</div>
    {{/if}}
  </div>
  <div class="navigation-right">
    {{#if isAuthenticated}}
    <a href="#" class="navigation-item navigation-help" data-event="help">
      <span>{{t 'app.help'}}</span>
    </a>


    <a href="#" class="navigation-item navigation-profile" data-event="user:profile">
      <span>{{email}}</span>
    </a>
    <a href="#" class="navigation-item navigation-user-logout" data-event="user:logout">
      <span>{{t 'app.logout'}}</span>
    </a>

    {{else}}
    {{!-- <li data-route="login">
      <a href="#/user/login">{{t 'app.login'}}</a>
    </li> --}}
    {{/if}}
  </div>
</div>
