<div class="sidebar-item-inner">
{{!--   <div class="sidebar-row sidebar-item-title">
    <h2 class="sidebar-item-title-inner">
      {{t 'app.pluginmanagement'}}
    </h2>
  </div> --}}
    <div class="separator"></div>
    <button class="pluginManagement-sidebar-upload action-primary">
      <span class="plugin-management-sidebar-view-inner">
        {{!-- <i class="fa fa-upload"></i> --}}{{t 'app.uploadplugin'}}
      </span>
    </button>
    <div class="separator"></div>
  <div class="sidebar-row">
    <button class="pluginManagement-sidebar-extensions">
      <span class="pluginManagement-sidebar-extensions">
        <i class="fa fa-plug"></i>{{t 'app.extensions'}}
      </span>
    </button>
  </div>
  <div class="sidebar-row">
    <button class="pluginManagement-sidebar-components">
      <span class="pluginManagement-sidebar-components">
        <i class="fa fa-cubes"></i>{{t 'app.components'}}
      </span>
    </button>
  </div>
  <div class="sidebar-row">
    <button class="pluginManagement-sidebar-themes">
      <span class="pluginManagement-sidebar-themes">
        <i class="fa fa-image"></i>{{t 'app.themes'}}
      </span>
    </button>
  </div>
  <div class="sidebar-row">
    <button class="pluginManagement-sidebar-menus">
      <span class="pluginManagement-sidebar-menus">
        <i class="fa fa-sitemap"></i>{{t 'app.menus'}}
      </span>
    </button>
  <div class="separator"></div>
  <div class="sidebar-row">
    <button class="pluginManagement-sidebar-getPlugins">
      <i class="fa fa-external-link"></i>{{t 'app.getnewplugins'}}
    </button>
  </div>
</div>
