<!-- Deleted icon -->
{{#if _isDeleted}}
  <div class="asset-management-list-item-deleted">
      <i class="fa fa-ban"></i>
  </div>
{{/if}}

<!-- Button overlay -->
{{#if isModal}}
<div class="asset-management-list-item-editOverlay">
  <div class="button-container">
    <span class="tooltip">Select</span>
    <button class="asset-management-list-item-select">
      <i class="fa fa-check"></i>
    </button>
  </div>
  {{#if canAutofill}}
  <div class="button-container">
    <span class="tooltip">Autofill</span>
    <button class="asset-management-list-item-autofill">
      <i class="fa fa-magic"></i>
    </button>
  </div>
  {{/if}}
</div>
{{/if}}

<div class="asset-management-list-item-inner">
    <!-- Icon -->
    <div class="asset-management-list-item-icon">
      <div class="asset-management-list-item-icon-inner">
        <i class="{{getAssetIcon mimeType}}"></i>
      </div>
    </div>
    <!-- Thumbnail -->
    <div class="asset-management-list-item-content" {{#ifValueEquals thumbnailPath "false"}}{{else}} data-style="background-image:url(api/asset/thumb/{{_id}}{{cacheBuster this}})"{{/ifValueEquals}}>
      {{#ifValueEquals thumbnailPath "false"}}
        <i class="{{getAssetIcon mimeType}}"></i>
      {{/ifValueEquals}}
    </div>
    <!-- Details -->
    <div class="asset-management-list-item-details">
        <div class="asset-management-list-item-details-inner">
          <div class="asset-management-list-item-title">
              <h4 class="asset-management-list-item-title-inner">{{{title}}}</h4>
          </div>
        </div>
    </div>
</div>
