<div class="tabs unit-centered unit-90">
  <nav class="asset-nav-tabs">
    <ul>
      <li><a href="#" class="active">{{t 'app.assetfilters'}}</a></li>
      <li><a href="#">{{t 'app.uploadnewasset'}}</a></li>
    </ul>
  </nav>
  <div class="asset-tab-contents">
    <div class="asset-tab-content active">
      <!-- Begin filter form -->
      <form class="filter-form forms unit-centered unit-90">
        <label for="search">{{t 'app.search'}}
          <input type="text" name="search" class="input-search width-100" placeholder="{{t 'app.search'}}" autocomplete="off" />
        </label>
        <ul class="asset-filter filetype form-list">{{t 'app.filetype'}}
          <li class="asset-filter-option" data-filter="image">
            <input type="checkbox" name="checkbox-asset-image" id="checkbox-asset-image" value="image">
            <label for="checkbox-asset-image">{{t 'app.filetypeimage' }}</label>
          </li>
          <li class="asset-filter-option" data-filter="audio">
            <input type="checkbox" name="checkbox-asset-audio" id="checkbox-asset-audio" value="audio">
            <label for="checkbox-asset-audio">{{t 'app.filetypeaudio' }}</label>
          </li>
          <li class="asset-filter-option" data-filter="video">
            <input type="checkbox" name="checkbox-asset-video" id="checkbox-asset-video" value="video">
            <label for="checkbox-asset-video">{{t 'app.filetypevideo' }}</label>
          </li>
          <li class="asset-filter-option" data-filter="other">
            <input type="checkbox" name="checkbox-asset-other" id="checkbox-asset-other" value="other">
            <label for="checkbox-asset-other">{{t 'app.filetypeother' }}</label>
          </li>
        </ul>
          <button type="submit" class="btn btn-green filterButton">Filter</button>
          <button type="button" class="btn resetFilterButton">Clear</button>
      </form>
      <!-- end filter form -->
    </div>
    <div class="asset-tab-content">
      <!-- Begin upload form -->
      <form class="asset-form forms asset-form unit-centered unit-90 break" action="/api/asset" method="post">
        <label for="file">{{t 'app.assetfile'}} <span class="req">*</span>
          <input type="file" class="width-100 asset-file" name="file">
        </label>
        <label for="title">{{t 'app.assettitle'}} <span class="req">*</span>
          <input type="text" class="width-100 asset-title" name="title" placeholder="{{t 'app.assettitle'}}" value="{{ title }}" autocomplete="off">
        </label>
        <label for="description">{{t 'app.assetdescription'}} <span class="req">*</span>
          <textarea class="width-100 asset-description" name="description" placeholder="{{t 'app.assetdescription'}}">{{ description }}</textarea>
        </label>
        <button type="submit" class="save-button btn btn-green">{{t 'app.upload'}}</button>
        <button type="button" class="cancel-button btn">{{t 'app.cancel'}}</button>
      </form>
      <!-- end upload form -->
    </div>
  </div>
</div>
