<div class="asset-management-new-asset-inner inner">
    <!-- Begin upload form -->
    <form class="asset-form forms asset-form" action="/api/asset/upload" method="post">
        <div class="form-group">
            <label for="file">
                {{t 'app.assetfile'}} <span class="req">*</span><br>
                <span class="error"></span>
            </label>
            {{#if path}}
            <div class="asset-management-new-asset-file">
                {{t 'app.fileuploaded'}}
            </div>
            {{else}}
            <input type="file" class="asset-file" name="file">
            <div class="progress-container">
                <div class="progress-bar">
                    <div class="progress-percent">0%</div>
                </div>
            </div>
            {{/if}}
        </div>

        <div class="form-group">
            <label for="description">
                {{t 'app.assetdescription'}} <span class="req">*</span>
                <span class="error"></span>
            </label>
            <textarea class="asset-description required" name="description" placeholder="{{t 'app.assetdescription'}}">{{ description }}</textarea>
        </div>

        <div class="form-group tags">
            <label for="tags">{{t 'app.tags'}}</label>
            <input type="text" autocomplete="off" class="width-30" id="tags_control" name="tags_control" value="{{pickCSV tags "title"}}" />
        </div>
        <input type="hidden" name="tags" id="tags" />
    </form>
    <!-- end upload form -->
</div>
