<div class="asset-management-new-asset-inner">
    <div class="container inner">
        <!-- Begin upload form -->
        <form class="asset-form forms asset-form">
            <div class="form-group">
                <input type="file" class="asset-file" name="file" id="file">
                <label for="file">
                  <div class="inner">
                        <span class="btn secondary">
                            <i class="fa fa-upload"></i>
                            <span class="btn-label">
                              {{#if path}}Change file{{else}}Upload file{{/if}}
                            </span>
                        </span>
                        <span class="label">Drag and drop file here, or click the button.</span>
                        <span class="progress display-none">Uploaded <span class="value"></span>%</span>
                    </div>
                </label>
            </div>
            <div class="form-group">
                <label for="title">
                    {{t 'app.assettitle'}} <span class="req">*</span>
                    <span class="error"></span>
                </label>
                <input type="text" class="asset-title required" name="title" placeholder="{{t 'app.assettitle'}}" value="{{ title }}" autocomplete="off">
            </div>

            <div class="form-group">
                <label for="description">
                    {{t 'app.assetdescription'}}
                    <span class="error"></span>
                </label>
                <textarea class="asset-description" name="description" placeholder="{{t 'app.assetdescription'}}">{{ description }}</textarea>
            </div>

            <div class="form-group">
                <div class="input checkbox">
                    <input type="checkbox" id="is-restricted"{{#if isRestricted}} checked{{/if}}>
                    <div class="icon">
                      <i class="icon-checked fa fa-check-square-o"></i>
                      <i class="icon-unchecked fa fa-square-o"></i>
                    </div>
                    <label for="is-restricted">{{t 'app.assetrestricted'}}</label>
                </div>
            </div>
            <input type="hidden" name="isRestricted" id="is-restricted-hidden" value="{{#if isRestricted}}true{{else}}false{{/if}}">

            <div class="form-group tags">
                <label for="tags">{{t 'app.tags'}}</label>
                <input type="text" autocomplete="off" class="width-30" id="tags_control" name="tags_control" value="{{pickCSV tags "title"}}" />
            </div>
            <input type="hidden" name="tags" id="tags" />

            {{#if projects}}
            <div class="form-group workspace">
                <a class="workspaces" href="#"><i class="fa fa-link"></i> link asset to existing courses</a>
                <div class="courses">
                  {{#each projects}}
                  <div class="course input checkbox">
                    <input type="checkbox" id="{{_id}}" {{#ifListContains ../workspaces.course _id}}checked{{/ifListContains}}/>
                    <div class="icon">
                      <i class="icon-checked fa fa-check-square-o"></i>
                      <i class="icon-unchecked fa fa-square-o"></i>
                    </div>
                    <label for="{{_id}}">{{title}}</label>
                  </div>
                  {{/each}}
                </div>
            </div>
            <input type="hidden" name="workspaces" id="workspaces" />
            {{/if}}
        </form>
        <!-- end upload form -->
    </div>
</div>
