<div class="asset-management-new-asset-inner">
    <!-- Begin upload form -->
    <form class="asset-form forms asset-form" action="/api/asset" method="post">
        <div class="form-group">
            <label for="file">
                {{t 'app.assetfile'}} <span class="req">*</span>
            </label>
            <input type="file" class="asset-file" name="file">
        </div>
        <div class="form-group">
            <label for="title">{{t 'app.assettitle'}} <span class="req">*</span></label>
            <input type="text" class="asset-title" name="title" placeholder="{{t 'app.assettitle'}}" value="{{ title }}" autocomplete="off">
        </div>

        <div class="form-group">
            <label for="description">{{t 'app.assetdescription'}} <span class="req">*</span></label>
            <textarea class="asset-description" name="description" placeholder="{{t 'app.assetdescription'}}">{{ description }}</textarea>
        </div>

        <div class="form-group tags">
            <label for="tags">{{t 'app.tags'}}</label>
            <input type="text" autocomplete="off" class="width-30" id="tags" name="tags" value="{{pickCSV tags "title"}}" />
        </div>

    </form>
    <!-- end upload form -->
</div>
