{{!-- <div class="tabs unit-centered unit-90">
      <!-- Begin filter form -->
      <form class="filter-form forms unit-centered unit-90">
        <label for="search">{{t 'app.search'}}
          
        </label>
        <input type="text" name="search" class="input-search width-100" placeholder="{{t 'app.search'}}" autocomplete="off" />
        <ul class="asset-filter filetype form-list">{{t 'app.filetype'}}
          <li class="asset-filter-option" data-filter="image">
            <input type="checkbox" name="checkbox-asset-image" id="checkbox-asset-image" value="image">
            <label for="checkbox-asset-image">{{t 'app.filetypeimage' }}</label>
          </li>
          <li class="asset-filter-option" data-filter="audio">
            <input type="checkbox" name="checkbox-asset-audio" id="checkbox-asset-audio" value="audio">
            <label for="checkbox-asset-audio">{{t 'app.filetypeaudio' }}</label>
          </li>
          <li class="asset-filter-option" data-filter="video">
            <input type="checkbox" name="checkbox-asset-video" id="checkbox-asset-video" value="video">
            <label for="checkbox-asset-video">{{t 'app.filetypevideo' }}</label>
          </li>
          <li class="asset-filter-option" data-filter="other">
            <input type="checkbox" name="checkbox-asset-other" id="checkbox-asset-other" value="other">
            <label for="checkbox-asset-other">{{t 'app.filetypeother' }}</label>
          </li>
        </ul>
          <button type="submit" class="btn btn-green filterButton">Filter</button>
          <button type="button" class="btn resetFilterButton">Clear</button>
      </form>
      <!-- end filter form -->
</div> --}}

<div class="asset-management-inner">
    <div class="asset-management-assets-container">
        <div class="asset-management-no-assets">Currently you have no assets uploaded</div>
        <div class="asset-management-assets-container-inner">
        </div>
    </div>
    <div class="asset-management-preview-container">
        <div class="asset-management-no-preview">Select an asset to see a preview here</div>
        <div class="asset-management-preview-container-inner">
        </div>
    </div>
</div>