<h3>{{t 'app.forgotpassword'}}</h3>

<div class="message">
  <div class="success display-none">
    {{t 'app.forgotpasswordsuccess'}}
    {{t 'app.returnto'}} <a href="#/user/login">{{t 'app.login'}}</a>
  </div>
</div>

<form class="form-forgot-password forms">

  <label for="input-username-email">{{t 'app.usernameoremail'}}
    <input type="text" class="input-username-email width-20" tabindex="1">
  </label>

  <button type="submit" class="submit btn btn-green">
    {{t 'app.resetpassword'}}
  </button>

</form>
