<h3>{{t 'app.forgotpassword'}}</h3>

<div class="message">
  <div class="success display-none">
    {{t 'app.forgotpasswordsuccess'}}
    {{t 'app.returnto'}} <a href="#/user/login">{{t 'app.login'}}</a>
  </div>
</div>

<form class="form-forgot-password">

  <div class="form-group">
    <label for="input-username-email">{{t 'app.usernameoremail'}}</label>
    <input type="text" class="input-username-email" tabindex="1">
  </div>

  <button type="submit" class="submit">
    {{t 'app.resetpassword'}}
  </button>

</form>
