<div class="login-logo">
  <img src="adaptbuilder/css/assets/adapt-learning-logo.png"/>
</div>

<div class="forgot-password-success display-none">
    {{t 'app.forgotpasswordsuccess'}}
    <br />
    <br />    
    {{t 'app.returnto'}} <a href="#/user/login">{{t 'app.login'}}</a>
  </div>
</div>

<div class="forgot-container">
  <div class="forgot-introduction">{{t 'app.forgotpasswordblurb'}}
  </div>
  <div class="forgot-form">
    <form class="forgot-password-form">
      <span class="validation-message error display-none">{{t 'app.invalidusernameoremail'}}</span>
      <div class="forgot-login">
        <label for="email">{{t 'app.usernameoremail'}}:
          <input name="email" autocomplete="off" type="text" class="input-username-email width-20" tabindex="1">
        </label>
      </div>
      
      <button type="submit" class="submit btn btn-primary">{{t 'app.continue'}}</button>
      <button class="cancel btn">{{t 'app.cancel'}}</button>
    </form>
  </div>

  <div class="forgot-footer">
    <strong>{{t 'app.hasyouremailchanged'}}</strong> {{t 'app.forgotpasswordfooter'}}
  </div>
</div>