<h3>{{t 'app.resetpassword'}}</h3>

<div class="message">
  <div class="success display-none">
    {{t 'app.resetpasswordsuccess'}}
    {{t 'app.returnto'}} <a href="#/user/login">{{t 'app.login'}}</a>
  </div>
  <div class="error display-none">{{t 'app.resetpassworderror'}}</div>
</div>
<p id="passwordErrorMessage" class="error"></p>
<p id="confirmPasswordErrorMessage" class="error"></p>

<form class="form-reset-password forms">

  <label for="new-password">{{t 'app.newpassword'}}
    <input type="password" class="input-new-password" tabindex="1">
  </label>
  <label for="new-password-confirm">{{t 'app.newpassword-confirm'}}
    <input type="password" class="input-new-password-confirm" tabindex="2">
  </label>
  <button type="submit" class="submit btn btn-green">
    {{t 'app.submit'}}
  </button>

</form>
