<h3>{{t 'app.resetpassword'}}</h3>

<div class="message">
  <div class="success display-none">
    {{t 'app.resetpasswordsuccess'}}
    {{t 'app.returnto'}} <a href="#/user/login">{{t 'app.login'}}</a>
  </div>
  <div class="error display-none">{{t 'app.resetpassworderror'}}</div>
</div>

<form class="form-reset-password">

  <div class="form-group">
    <label for="new-password">{{t 'app.newpassword'}}</label>
    <input type="password" class="input-new-password" tabindex="1">
  </div>

  <button type="submit">
    {{t 'app.submit'}}
  </button>
</form>
