<div class="login-logo">
  <img src="adaptbuilder/css/assets/adapt-learning-logo.png"/>
</div>

<h3>{{t 'app.resetpassword'}}</h3>

<div class="message">
  <div class="success display-none">
    {{t 'app.resetpasswordsuccess'}}
    {{t 'app.returnto'}} <a href="#/user/login">{{t 'app.login'}}</a>
  </div>
  <div class="error display-none">{{t 'app.resetpassworderror'}}</div>
</div>

<form class="form-reset-password forms">
<div class="form-group">
    <label for="password">New password
        <span class="req">*</span>
        <span id="passwordError" class="error"></span>
    </label>
    <input type="password" class="width-15" id="password" value="" autocomplete="off">
    <div id="passwordStrength"></div>
</div>

<div class="form-group">
    <label for="confirmPassword">Confirm password
        <span class="req">*</span>
        <span id="confirmPasswordError" class="error"></span>
    </label>
    <input type="password" class="width-15" id="confirmPassword" value="" autocomplete="off">
</div>



  <button type="submit" class="btn primary">{{t 'app.changepassword'}}</button>
  <button class="cancel btn">{{t 'app.cancel'}}</button>
</form>
