<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{productName}}</title>
    <link rel="icon" type="image/png" href="/adaptbuilder/css/assets/favicon.png" />
    <link rel="stylesheet" href="/adaptbuilder/css/assets/sweetalert.css" />
    <link rel="stylesheet" href="/adaptbuilder/css/adapt.css" />
    <link rel="stylesheet" href="core/libraries/font-awesome-4.5.0/css/font-awesome.min.css">
    <script type="text/javascript" src="core/libraries/modernizr.js"></script>
    <script src="//cdn.ckeditor.com/4.5.7/full-all/ckeditor.js"></script>
    {{#if isProduction}}
    <script type="text/javascript" src="core/libraries/require.js" data-main="adaptbuilder/js/origin.js{{#if dateStampAsString}}?{{dateStampAsString}}{{/if}}"></script>
    {{else}}
    <script type="text/javascript" src="core/libraries/require.js"></script>
    <script type="text/javascript" src="core/app/config.js"></script>
    <script type="text/javascript" src="core/app/app.js"></script>
    {{/if}}
    <meta http-equiv="cache-control" content="no-store, no-cache, must-revalidate" />
    <meta http-equiv="Pragma" content="no-store, no-cache" />
    <meta http-equiv="Expires" content="0" />
    {{#if useAnalytics}}
    <!-- Google Analytics -->
    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', '{{trackingId}}', 'auto');
      ga('send', 'pageview');
    </script>
    <script async src='//www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->
    {{/if}}
  </head>
  <body>
    <div id="app" class="app container">
      <div class="location-title">
      </div>
      <div class="app-inner">
      </div>
      <div class="loading">
        <div class="loading-inner">
          <div class="loading-image"><h3>{{loading}}</h3></div>
        </div>
      </div>
    </div>
  </body>
</html>
