<div class="theming-inner">
  <div class="error display-none">
    {{! content dynamically replaced with error messages }}
  </div>
  <div class="header">
    <div class="inner">
      <div class="title">{{t 'app.choosethemetitle'}}</div>
      <div class="description">{{{t 'app.choosethemedesc'}}}</div>
      <div class="theme-selector">
        <div class="theme tile">
          <label>{{t 'app.themeselectlabel'}}</label>
          <select id="theme" disabled="true">
            <option value="" disabled selected>{{t 'app.themeselectinstr'}}</option>
          </select>
        </div>
        <div class="preset tile">
          <label>{{t 'app.presetselectlabel'}}</label>
          <select id="preset" disabled="true">
            <option value="" disabled selected>{{t 'app.presetselectinstr'}}</option>
          </select>
        </div>
        <button class="edit btn secondary">
          {{t 'app.presetedit'}}
        </button>
      </div>
    </div>
  </div>
  <div class="theme-customiser">
    <div class="buttons-container">
      <button class="reset btn alert">
        {{t 'app.restorepreset'}}
      </button>
      <button class="save-preset btn secondary">
        <span>{{t 'app.savepreset'}}</span>
      </button>
    </div>
    <div class="inner">
      <div class="title">{{t 'app.customisethemetitle'}}</div>
      <div class="description">{{{t 'app.customisethemedesc'}}}</div>
      <div class="form-container">
        {{! Leave this div empty, anything inside will be replaced with the form. }}
      </div>
      <div class="empty-message display-none">
        {{t 'app.themenoteditablebody'}}
      </div>
    </div>
  </div>
</div>
