<div class="project-inner clearfix unselectable" data-id="{{_id}}">

    <div class="project-header">
      <div class="project-header-inner">

        <div class="project-settings">
          <div class="project-settings-inner">
            <a href="#" class="open-context-icon open-context-course"><i class="fa fa-cog fa-fw"></i></a>
          </div>
        </div>

      </div>
    </div>

    {{#if heroImage}}
    <div class="project-image" style="background-image: url({{heroImageURI}});">
    </div>
    {{else}}
    <div class="project-image">
    </div>
    {{/if}}

    <div class="project-details">
      <div class="project-details-inner">
        <div class="project-detail-title">
          <h2 class="project-detail-title-inner">{{{title}}}</h2>
        </div>

        <div class="project-details-last-updated project-details-row">
          <div class="projects-details-label">{{t 'app.recent'}}</div>
          <div class="projects-details-value">{{momentFormat updatedAt "Do MMMM YYYY"}}</div>
        </div>
        {{#if tags.length}}
        <div class="project-details-tags project-details-row tags">
          <div class="projects-details-label">{{t 'app.tags'}}</div>
          <div class="projects-details-value tag-container">
            <ul class="items tags">
            {{#each tags}}
              <li class="item-row tag" title="{{title}}">
                <span class="value-text">{{title}}</span>
              </li>
            {{/each}}
            </ul>
          </div>
        </div>
        {{/if}}
      </div>
    </div>


</div>
