<div class="project-inner">

  <div class="project-title">
    <h4 class="project-title-inner">{{{name}}}</h4>
  </div>

  <div class="project-description">
    <div class="project-description-inner">{{{description}}}</div>
  </div>

  <div class="project-buttons">
    <div class="project-button">
      <a class="project-edit-link btn btn-default" href="#/editor/menu/edit/{{_id}}">Edit</a>
    </div>
    <div class="project-button">
      <a class="project-open-link" href="#editor/view/{{_id}}">Open</a>
    </div>

    <div class="project-button">
      <a class="project-delete-link" href="#project/delete/{{_id}}">Delete</a>
    </div>
  </div>

</div>
