<div class="container">
    <div class="inner">
        <div class="search">
          <input placeholder="{{t 'app.searchByMail'}}" type="text" class="search-email">
          <button class="reset-filter btn warning">{{t 'app.resetFilter'}}</button>
        </div>
        <div class="tb-heading col-row tb-row">
            <div class="col-25">
                <h4 class="tb-col-inner">{{t 'app.usernameoremail'}}</h4>
                <button data-sort="email" class="active sort fa fa-sort-down"></button>
            </div>
            <div class="col-15">
                <h4 class="tb-col-inner">{{t 'app.tenant'}}</h4>
                <button data-sort="tenantName" class="sort fa fa-sort-down"></button>
                <button data-filter="tenantName" class="filter fa fa-filter"></button>
            </div>
            <div class="col-15">
                <h4 class="tb-col-inner">{{t 'app.role'}}</h4>
                <button data-sort="roleNames" class="sort fa fa-sort-down"></button>
                <button data-filter="roleNames" class="filter fa fa-filter"></button>
            </div>
            <div class="col-15 col-centered">
                <h4 class="tb-col-inner">{{t 'app.failedlogins'}}</h4>
                <button data-sort="failedLoginCount" class="sort fa fa-sort-down"></button>
                <button data-filter="failedLoginCount" class="filter fa fa-filter"></button>
            </div>
            <div class="col-15 col-centered">
                <h4 class="tb-col-inner">{{t 'app.lastaccess'}}</h4>
                <button data-sort="lastAccess" class="sort fa fa-sort-down"></button>
                <button data-filter="lastAccess" class="filter fa fa-filter"></button>
            </div>
            <div class="col-15">
            </div>
        </div>
        <ul class="users clearfix grid-layout">
            {{!-- Users get rendered in here --}}
        </ul>

        <div class="action-buttons">
            <button class="btn tertiary-hollow refresh-all">{{t 'app.refresh'}}</button>
        </div>
    </div>
</div>
