<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{subject}}</title>
  </head>
  <body>
    <img class="logo" src="{{templateData.hostUrl}}/adaptbuilder/css/assets/adapt-learning-logo.png">
    <div class="content">
      <div class="title">
        {{subject}}
      </div>
      <p>{{greeting}},</p>
      {{text}}
      <a class="btn" href="{{templateData.resetToken}}" target="_blank"">{{resetLabel}}</a>
    </div>
    <div class="footer">
      {{footer}}
    </div>
  </body>
</html>