<div class="field {{#if title}}
    field-{{stringToClassName title}}
    {{else}}{{#if legend}}field-object 
    field-object-{{stringToClassName legend}}{{/if}}
    {{/if}}">
    {{#if title}}
    <label for="{{editorId}}">
        {{title}}:
    </label>
    {{else}}
    {{#if legend}}
    <div class="legend"><legend>{{legend}}</legend></div>
    {{/if}}
    {{/if}}
    <div {{#unless title}}{{#if legend}}class="collapsed"{{/if}}{{/unless}}>
        <div class="field-error" data-error></div>
        {{#if help}}
        <div class="field-help">{{help}}</div>
        {{/if}}
        <span data-editor>
        </span>
    </div>
</div>