<div class="container">
    <div class="inner">
        <div class="view-buttons">
            {{! TODO read-only mode for some roles? e.g. project managers? }}
            <button class="btn tertiary edit-mode">{{t 'app.editmodebutton'}}</button>
            <button class="btn tertiary view-mode">{{t 'app.viewmodebutton'}}</button>
        </div>
        <div class="tb-heading col-row tb-row">
            <div class="col-25">
                <h4 class="tb-col-inner">{{t 'app.usernameoremail'}}</h4>
            </div>
            <div class="col-15">
                <h4 class="tb-col-inner">{{t 'app.tenant'}}</h4>
            </div>
            <div class="col-20">
                <h4 class="tb-col-inner">{{t 'app.role'}}</h4>
            </div>
            <div class="col-10 col-centered">
                <h4 class="tb-col-inner">{{t 'app.failedlogins'}}</h4>
            </div>
            <div class="col-15 col-centered">
                <h4 class="tb-col-inner">{{t 'app.lastaccess'}}</h4>
            </div>
            <div class="col-15">
            </div>
        </div>
        <ul class="users clearfix grid-layout">
            {{!-- Users get rendered in here --}}
        </ul>

        <div class="action-buttons">
            <button class="btn tertiary-hollow refresh-all">{{t 'app.refresh'}}</button>
        </div>
    </div>
</div>