<div class="theme-list-item-inner" style="background-color:{{properties.background_color.default}}">
    <div class="theme-header">
        <div class="display-name"><h4 style="color: {{foreground_color.default}}">{{displayName}}</h4></div>
        <div class="description">{{description}}</div>
    </div>
    {{#if settings}}
    <div class="theme-pallet-container">
        <ul class="theme-palette">
            <li>
                <div class="swatch-top" style="background-color:{{settings.primary_color}}" title="{{properties.primary_color.title}}">
                    <div class="swatch-bottom" style="background-color:{{settings.secondary_color}}" title="{{properties.secondary_color.title}}"></div>
                </div>
            </li>
            <li>
                <div class="swatch-top" style="background-color:{{settings.foreground_color}}" title="{{properties.foreground_color.title}}">
                    <div class="swatch-bottom" style="background-color:{{settings.background_color}}" title="{{properties.background_color.title}}"></div>
                </div>
            </li>
            <li>
                <div class="swatch-top" style="background-color:{{settings.inverted_foreground_color}}" title="{{properties.inverted_foreground_color.title}}">
                    <div class="swatch-bottom" style="background-color:{{settings.inverted_background_color}}" title="{{properties.inverted_background_color.title}}"></div>
                </div>
            </li>
        </ul>
    </div>
    {{else}}
      {{#if settings}}
        {{#with properties}}
        <div class="theme-pallet-container">
            <ul class="theme-palette">
                <li>
                    <div class="swatch-top" style="background-color:{{primary_color.default}}" title="{{primary_color.title}}">
                        <div class="swatch-bottom" style="background-color:{{secondary_color.default}}" title="{{secondary_color.title}}"></div>
                    </div>
                </li>
                <li>
                    <div class="swatch-top" style="background-color:{{foreground_color.default}}" title="{{foreground_color.title}}">
                        <div class="swatch-bottom" style="background-color:{{background_color.default}}" title="{{background_color.title}}"></div>
                    </div>
                </li>
                <li>
                    <div class="swatch-top" style="background-color:{{inverted_foreground_color.default}}" title="{{inverted_foreground_color.title}}">
                        <div class="swatch-bottom" style="background-color:{{inverted_background_color.default}}" title="{{inverted_background_color.title}}"></div>
                    </div>
                </li>
            </ul>
        </div>
        {{/with}}
      {{else}}
      {{/if}}
    {{/if}}
</div>
