<div class="editor-component-list-item-inner">
  <div class="editor-component-list-item-icon {{#if name}}{{name}}{{/if}}"></div>
  {{#if displayName}}
    <div class="editor-component-list-item-details">
      <span class="editor-component-list-item-display-name" {{#if description}}title="{{description}}"{{/if}}>{{displayName}}</span>
      {{#if description}}
        <br/><span class="editor-component-list-item-description">{{description}}</span>
      {{/if}}
    </div>
  {{/if}}
</div>
<div class="editor-component-list-item-overlay display-none">
  <div class="editor-component-list-item-overlay-inner clearfix">
    {{#if availablePositions.left}}
      <a class="btn primary editor-component-list-item-overlay-button editor-component-list-item-overlay-left" data-position="left">{{t 'app.addtoleft'}}</a>
    {{/if}}
    {{#if availablePositions.full}}
      <a class="btn primary editor-component-list-item-overlay-button editor-component-list-item-overlay-add" data-position="full">{{t 'app.addfullwidth'}}</a>
    {{/if}}
    {{#if availablePositions.right}}
      <a class="btn primary editor-component-list-item-overlay-button editor-component-list-item-overlay-right" data-position="right">{{t 'app.addtoright'}}</a>
    {{/if}}
  </div>
</div>
