<div class="page-inner">
  <div class="page-detail">
    <h4 class="page-name title">
      <button class="page-edit-button" title="{{t 'app.clicktoedit'}}"><i class="fa fa-cog fa-fw"></i></button>
      {{#if displayTitle}}{{displayTitle}}{{else}}{{title}}{{/if}}
    </h4>
    <div class="page-body">{{body}}</div>
  </div>

  <div class="page-articles"></div>

  <div class="add-control">
    <button class="btn add-article">{{t 'app.addarticle'}}</button>
  </div>
</div>
