<div class="sidebar-row clearfix {{rowClasses}}">
    <span>{{tag.title}}</span>
    <button data-title="{{tag.title}}" data-id="{{tag.id}}" class="{{buttonClasses}}"><i class="fa fa-times"></i></button>
</div>