{{#if value}}

{{! Work out which type it is and display the correct html markup}}
{{#ifValueEquals type 'image'}}
	{{#ifAssetIsExternal value}}
	<img class="scaffold-asset-preview" src="{{value}}"/>
	{{else}}
		{{#ifAssetIsHeroImage value}}
		<img class="scaffold-asset-preview" src="/api/asset/thumb/{{value}}"/>
		{{else}}
      {{#if thumbnailPath}}
		  <img class="scaffold-asset-preview" src="{{getThumbnailFromValue value}}"/>
		  {{else}}
        {{#ifImageIsCourseAsset value}}
        <img class="scaffold-asset-preview" src="{{getThumbnailFromValue value}}"/>
        {{else}}
        <a class="scaffold-asset-preview" title="{{t 'app.nothumbnailforimage'}}" href="{{getAssetFromValue value}}" target="_blank">
          <i class="fa fa-file-image-o fa-large"></i>  
        </a>
        {{/ifImageIsCourseAsset}}
      {{/if}}
    {{/ifAssetIsHeroImage}}
	{{/ifAssetIsExternal}}
{{/ifValueEquals}}

{{#ifValueEquals type 'other'}}
	{{#ifAssetIsExternal value}}
	<a class="scaffold-asset-preview" href="{{value}}" target="_blank">
		<i class="fa fa-file-o fa-large"></i>
		<div>{{value}}</div>
	</a>
	{{else}}
	<a class="scaffold-asset-preview" href="{{getAssetFromValue value}}" target="_blank">
		<i class="fa fa-file-o fa-large"></i>
		<div>{{value}}</div>
	</a>
	{{/ifAssetIsExternal}}

{{/ifValueEquals}}

{{#ifValueEquals type 'video'}}
	{{#ifAssetIsExternal value}}
	<a class="scaffold-asset-preview" href="{{value}}" target="_blank">
		<i class="fa fa-file-movie-o fa-large"></i>
		<div>{{value}}</div>
	</a>
	{{else}}
	<img class="scaffold-asset-preview" src="{{getThumbnailFromValue value}}"/>
	{{/ifAssetIsExternal}}
{{/ifValueEquals}}

{{#ifValueEquals type 'audio'}}
	{{#ifAssetIsExternal value}}
	<a class="scaffold-asset-preview" href="{{value}}" target="_blank">
		<i class="fa fa-file-audio-o fa-large"></i>
		<div>{{value}}</div>
	</a>
	{{else}}
	<a class="scaffold-asset-preview" href="{{getAssetFromValue value}}" target="_blank">
		<i class="fa fa-file-audio-o fa-large"></i>
		<div>{{value}}</div>
	</a>
	{{/ifAssetIsExternal}}

{{/ifValueEquals}}

<div class="scaffold-asset-buttons">
	{{#ifAssetIsExternal value}}
	<button class="btn scaffold-asset-clear-external"><i class="fa fa-times-circle"></i> {{t 'app.removeexternalasset'}}</button>
	{{else}}
	<button class="btn scaffold-asset-clear"><i class="fa fa-times-circle"></i> {{t 'app.removeasset'}}</button>
	{{/ifAssetIsExternal}}
</div>

{{else}}

<div class="scaffold-asset-external-input display-none">
	<input type="text" class="scaffold-asset-external-input-field" />
	<div class="scaffold-asset-external-input-buttons">
		<button class="btn primary scaffold-asset-external-input-save">{{!-- <i class="fa fa-save"></i> --}} {{t 'app.save'}}</button>
		<button class="btn primary-hollow scaffold-asset-external-input-cancel">{{!-- <i class="fa fa-times"></i>  --}}{{t 'app.cancel'}}</button>
	</div>
</div>

<div class="scaffold-asset-buttons">
	<button class="btn secondary scaffold-asset-picker">{{!-- <i class="fa fa-file"></i>  --}}{{t 'app.selectasset'}}</button>
	<button class="btn secondary-hollow scaffold-asset-external">{{!-- <i class="fa fa-file"></i>  --}}{{t 'app.selectexternalasset'}}</button>
</div>
{{/if}}