<div class="option" data-disabled={{disabled}}>
  {{#if name}}
    <span class="name">{{name}}</span>
    <span class="email">&lt;{{email}}&gt;</span>
  {{else}}
    <span class="name">{{email}}</span>
  {{/if}}
</div>
