<div class="sidebar-item-inner">
{{!-- 	<div class="sidebar-row sidebar-item-title">
		<h2 class="sidebar-item-title-inner">
			{{t 'app.dashboard'}}
		</h2>
	</div> --}}

		<div class="separator"></div>

		<button class="dashboard-sidebar-add-course action-primary">
			<span class="dashboard-sidebar-add-course-inner">
                {{t 'app.addnewproject'}}
			</span>
		</button>

		<div class="separator"></div>

    <div class="sidebar-row">
        <button class="dashboard-sidebar-my-courses">
            <span class="dashboard-sidebar-my-courses-inner">
                <i class="fa fa-chevron-right primary-color"/>
                {{t 'app.myprojects'}}
            </span>
        </button>
    </div>
    <div class="sidebar-row">
        <button class="dashboard-sidebar-shared-courses">
            <span class="dashboard-sidebar-shared-courses-inner">
                <i class="fa fa-chevron-right primary-color"/>
                {{t 'app.sharedprojects'}}
            </span>
        </button>
    </div>
    {{#ifHasPermissions "{{tenantid}}/*:delete"}}
      <div class="sidebar-row">
          <button class="dashboard-sidebar-tenant-courses">
              <span class="dashboard-sidebar-tenant-courses-inner">
                  <i class="fa fa-chevron-right primary-color"/>
                  {{t 'app.tenantprojects'}}
              </span>
          </button>
      </div>
    {{/ifHasPermissions}}
{{!--     <div class="sidebar-row sidebar-divide">
        <h3 class="sidebar-divide-inner">
            <i class="fa fa-search"></i>{{t 'app.search'}}
        </h3>
    </div> --}}

    <div class="sidebar-search-tag">
        <div class="sidebar-row">
            <div class="sidebar-row-input">
                <input type="text" class="dashboard-sidebar-filter-input dashboard-sidebar-filter-search-input" placeholder="{{t 'app.searchbyname'}}"/>
                <button class="sidebar-filter-clear"><i class="fa fa-times"></i></button>
            </div>
        </div>

        <button class="dashboard-sidebar-add-tag sidebar-filter-button action-secondary">
            <span class="dashboard-sidebar-add-tag-inner">
                {{t 'app.searchbytag'}}
            </span>
        </button>
    </div>
</div>
