<div data-id="{{_id}}" data-parentId="{{_parentId}}" class="editor-menu-item-inner clearfix unselectable">

    <div class="editor-menu-item-settings handle">
        <div class="editor-menu-item-settings-inner">
            <a href="#" class="open-context-contentObject"><i class="fa fa-cog fa-fw"></i></a>
        </div>
    </div>

	<div class="editor-menu-item-icon {{_type}}">
        {{#if_value_equals _type "menu"}}
            {{#if _isSelected}}
            <i class="fa fa-folder-open-o"></i> 
            {{else}}
                {{#if _isExpanded}}
                <i class="fa fa-folder-open-o"></i> 
                {{else}}
            <i class="fa fa-folder-o"></i> 
            {{/if}}
            {{/if}}
        {{/if_value_equals}}
        {{#if_value_equals _type "page"}}
            <i class="fa fa-file-o"></i> 
        {{/if_value_equals}}
    </div>
	<div class="editor-menu-item-title">
		<span class="editor-menu-item-title-text">{{{title}}}</span>
	</div>
</div>

<div class="editor-menu-item-pin">
</div>