<div class="login-logo">
  <img src="adaptbuilder/css/assets/adapt-learning-logo-white.png"/>
</div>

<div class="login-title">{{t 'app.resetpassword'}}</div>

<div class="forgot-password-success display-none">
    {{t 'app.forgotpasswordsuccess'}}
    <button class="return btn small secondary">{{t 'app.returnto'}} {{t 'app.login'}}</button>
</div>

<div class="forgot-container">
  <div class="forgot-introduction">
    {{t 'app.forgotpasswordblurb'}}
  </div>
  <div class="forgot-form">
    <form class="forgot-password-form">
      <div id="loginError" class="forgotError display-none">
        <i class="fa fa-times"></i> {{t 'app.invalidusernameoremail'}}<span id="loginErrorMessage"/>
      </div>
      <div class="forgot-login">
          <input type="email" autocomplete="off" placeholder="{{t 'app.usernameoremail'}}" class="input-username-email" tabindex="1">
      </div>
      <button type="submit" class="submit btn secondary">{{t 'app.continue'}}</button>
      <button class="cancel btn white-hollow">{{t 'app.cancel'}}</button>
    </form>
  </div>
    <div class="forgot-footer">
    <strong>{{t 'app.hasyouremailchanged'}}</strong> {{t 'app.forgotpasswordfooter'}}
  </div>
</div>