<div class="inner">
  <div class="login-logo"></div>

  <div class="login-title">{{t 'app.resetpassword'}}</div>

  <div class="message">
    <div class="success display-none">
      <p>{{t 'app.resetpasswordsuccess'}}</p>
      <button class="return btn small secondary">{{t 'app.returnto'}} {{t 'app.login'}}</button>
    </div>
  </div>

  <form class="form-reset-password forms">
    <div class="login-fields">
        <div id="passwordField"></div>
        <button type="submit" class="btn secondary">{{t 'app.changepassword'}}</button>
        <button class="cancel btn white-hollow">{{t 'app.cancel'}}</button>
    </div>
  </form>
</div>
