{{>part_editorItemSidebar}}

<div class="block-inner">

    <div class="block-detail unselectable">
        <h4 class="block-title">
            {{#if displayTitle}}
                {{{displayTitle}}}
            {{else}}
                {{title}}
            {{/if}}
        </h4>
        <div class="block-body">{{{body}}}</div>
    </div>

    <div class="page-components clearfix"></div>

</div>

{{#if layoutOptions}}
<div class="add-control">
    <a href="#" class="btn btn-primary add-component">{{t 'app.addcomponent'}}</a>
</div>
{{/if}}