<div class="page-edit">
    <div class="editing-overlay-panel">
        <a href="#" class="editing-overlay-panel-title active">
            <div class="editing-overlay-panel-title-inner">
                <h2>Content</h2>
            </div>
        </a>
        <div class="editing-overlay-panel-content">
            <div class="editing-overlay-panel-content-inner">
                <form role="form">
                    <div class="form-group">
                        <label for="page-title">Page Title</label>
                        <input type="text" class="form-control page-title" placeholder="Page Title" value="{{title}}">
                    </div>
                    <div class="form-group">
                        <label for="page-body">Page Body</label>
                        <textarea class="text-editor form-control page-body" placeholder="Page Body">{{body}}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="page-graphic-alt">Graphic Alt</label>
                        <input type="text" class="form-control page-graphic-alt" placeholder="Graphic Alt" value="{{graphic.alt}}">
                    </div>
                    <div class="form-group">
                        <label for="page-graphic-src">Graphic Src</label>
                        <input type="text" class="form-control page-graphic-src" placeholder="Graphic Src" value="{{graphic.src}}">
                    </div>
                    <div class="form-group">
                        <label for="page-linktext">Link Text</label>
                        <textarea class="form-control page-linktext" placeholder="Link Text">{{linkText}}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="page-classes">Classes</label>
                        <input type="text" class="form-control page-classes" placeholder="Page Classes" value="{{_classes}}">
                    </div>
                    <div class="hidden">
                        <input type="hidden" value="{{id}}" id="pageId">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="editing-overlay-panel">
        <a href="#" class="editing-overlay-panel-title">
            <div class="editing-overlay-panel-title-inner">
                <h2>Extensions</h2>
            </div>
        </a>
        <div class="editing-overlay-panel-content editing-overlay-panel-collapsed">
            <div class="editing-overlay-panel-content-inner">
                <form>
                    <div class="form-group">
                        <label for="page-title">Page Title</label>
                        <input type="text" class="form-control page-title" placeholder="Page Title" value="{{title}}">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
