<div class="page-detail">
{{!-- 
  <div class="page-edit-panel">
    <a href="#" class="edit-page">{{t 'app.edit'}}</a>
    <a href="#" class="delete-page">{{t 'app.delete'}}</a>
  </div> --}}

  <h4 class="page-name">{{title}}</h4>
  {{!-- Commenting out the next line to more closely resemble the output --}}
  {{!-- <div class="page-body">{{{body}}}</div> --}}
  <div class="page-articles"></div>

  <div class="add-control">
   <a href="#" class="btn add-article">{{t 'app.addarticle'}}</a>
  </div>

</div>
