{{>part_editorItemSidebar}}

<div class="block-detail">
  <h4 class="block-title">{{{title}}}</h4>
  <div class="block-body">{{{body}}}</div>
  <div class="block-delete-icon"><a href="#" class="block-delete"><i class="fa fa-trash-o"></i></a></div>
  <div class="page-article-components"></div>

  {{#if layoutOptions}}
    <div class="add-control">
      <a href="#" class="btn add-component">{{t 'app.addcomponent'}}</a>
    </div>

    <div class="add-component-form">
       <select class="add-component-form-componentType">
        {{#each componentTypes}}
          <option value="{{name}}">{{name}}</option>
          {{else}}
          <option value="">--</option>
        {{/each}}
      </select>
      <select class="add-component-form-layout">
        {{#each layoutOptions}}
          <option value="{{type}}">{{t name}}</option>
        {{/each}}
      </select>
    </div>
  {{/if}}

</div>
