<div class="sidebar-item-inner">
    <div class="sidebar-row sidebar-item-title">
        <h2 class="sidebar-item-title-inner">
            Global Settings
        </h2>
    </div>
{{!--     <div class="sidebar-row">
        <button class="editor-page-sidebar-edit-course btn">
            <span class="editor-sidebar-edit-course-inner">
                Edit page
            </span>
        </button>
    </div> --}}
    <div class="sidebar-row">
        <button class="editor-common-sidebar-project btn">
            <span class="editor-common-sidebar-project-inner">
                {{ t 'app.projectsettings'}}
            </span>
        </button>
    </div>
    <div class="sidebar-row">
        <button class="editor-common-sidebar-config btn">
            <span class="editor-common-sidebar-config-inner">
                {{ t 'app.configurationsettings'}}
            </span>
        </button>
    </div>
    <div class="sidebar-row">
        <button class="editor-common-sidebar-extensions btn">
            <span class="editor-common-sidebar-extensions-inner">
                {{ t 'app.manageextensions'}}
            </span>
        </button>
    </div>
    <div class="sidebar-row">
        <button class="editor-common-sidebar-preview btn">
            <span class="editor-common-sidebar-preview-inner">
                {{ t 'app.preview'}}
            </span>
        </button>
    </div>
    <div class="sidebar-row">
        <button class="editor-common-sidebar-publish btn">
            <span class="editor-common-sidebar-publish-inner">
                {{ t 'app.publish'}}
            </span>
        </button>
    </div>
    <div class="sidebar-row">
        <button class="editor-common-sidebar-close btn">
            <span class="editor-common-sidebar-close-inner">
                Close
            </span>
        </button>
    </div>
</div>