<!-- Begin General settings -->
<div class="editing-overlay-panel-content">
  <div class="editing-overlay-panel-content-inner">
    <form role="form">
      <div class="form-group">
        <label for="setting-title">{{t 'app.title'}}</label>
        <input type="text" class="form-control setting-title" placeholder="{{t 'app.title'}}" value="{{title}}">
      </div>
      <div class="form-group">
        <label for="setting-displaytitle">{{t 'app.displaytitle'}}</label>
        <input type="text" class="form-control setting-displaytitle" placeholder="{{t 'app.displaytitle'}}" value="{{displayTitle}}">
      </div>
      <div class="form-group">
        <label for="setting-class">{{t 'app.class'}}</label>
        <input type="text" class="form-control setting-class" placeholder="{{t 'app.class'}}" value="{{_classes}}">
      </div>
      <div class="form-group">
        <label for="setting-body">{{t 'app.bodytext'}}</label>
        <textarea class="text-editor form-control setting-body" id="setting-body" placeholder="{{t 'app.bodytext'}}">{{body}}</textarea>
      </div>
    </form>
  </div>
</div>
<!-- end General settings -->
