<div class="row">
  <form role="form">
    <div class="form-group">
      <label for="component-title">Component Title</label>
      <input type="text" class="form-control component-title" placeholder="Component Title" value="{{title}}">
    </div>
    <div class="form-group">
      <label for="component-description">Component Description</label>
      <textarea class="form-control component-body" placeholder="Component Description">{{body}}</textarea>
    </div>
    <div class="form-group">
      <label for="component-parent">Parent</label>
      <select class="form-control component-parent">
        {{#each ancestors}}
        <option value="{{_id}}" {{selected ../_parentId _id}}>{{stripHtml title}}</option>
        {{/each}}
      </select>
    </div>
    <div class="component-properties">
    </div>
    <div class="hidden">
      <input type="hidden" value="{{id}}" id="pageId">
    </div>
    <button class="save-button" type="submit">Save</button>
    <button class="cancel-button" type="button">Cancel</button>
  </form>
</div>
