<div class="editor-menu-layer-inner unit-25">
  <div class="editor-menu-layer-controls units-row">
    {{#if _isCourseObject}}
    {{else}}
      <button class="editor-menu-layer-add-page btn unit-50">{{t 'app.addpage'}}</button>
      <button class="editor-menu-layer-add-menu btn unit-50">{{t 'app.addsection'}}</button>
    {{/if}}
  </div>
  <div class="editor-menu-layer-actions units-row paste-zone visibility-hidden">
    <button class="editor-menu-layer-paste btn unit-50">{{t 'app.paste'}}</button>
    <button class="editor-menu-layer-paste-cancel btn unit-50">{{t 'app.cancel'}}</button>
  </div>
</div>