<div class="paste-zone paste-zone-{{_type}} display-none">
  <a href="#" class="paste-{{_type}}" data-sort-order="{{_pasteZoneSortOrder}}">{{t 'app.paste'}}</a>
  <a href="#" class="paste-cancel">{{t 'app.cancel'}}</a>
</div>