<div class="page-detail">
  <div class="page-edit-panel">
    <a href="#" class="edit-page">{{t 'app.edit'}}</a>
    <a href="#" class="delete-page">{{t 'app.delete'}}</a>
  </div>
  <h4 class="page-name">{{title}}</h4>
  <div class="page-body">{{body}}</div>
  <div class="page-articles"></div>
  <div class="paste-zone paste-zone-article page-article display-none">
    <a href="#" class="paste-article">{{t 'app.paste'}}</a>
    <a href="#" class="paste-cancel">{{t 'app.cancel'}}</a>
  </div>
  <div class="add-control">
   <a href="#" class="add-article">{{t 'app.addarticle'}}</a>
  </div>
</div>
