<div class="page-article-detail">
  <h4 class="page-article-title">{{title}}</h4>
  <div class="page-article-body">{{body}}</div>
  
  <div class="page-article-blocks"></div>
  
  <div class="page-article-edit-panel">
    <a href="#" class="add-block">{{t 'app.addblock'}}</a>
    <a href="#" class="copy-article">{{t 'app.copy'}}</a>
    <a href="#" class="page-article-edit">{{t 'app.edit'}}</a>
    <a href="#" class="page-article-delete">{{t 'app.delete'}}</a>
  </div>

  <div class="paste-zone paste-zone-block block display-none">
    <a href="#" class="paste-block">{{t 'app.paste'}}</a>
    <a href="#" class="paste-cancel">{{t 'app.cancel'}}</a>
  </div>

</div>