<div class="component-{{_layout}}">
  <div class="component-detail">
    <h4 class="component-title">{{{title}}}</h4>
    <div class="component-body">{{{body}}}</div>
    
    <div class="component-edit-panel">
      <a href="#" class="copy-component">{{t 'app.copy'}}</a>
      <a href="#" class="paste display-none">{{t 'app.paste'}}</a>
      <a href="#" class="component-edit">{{t 'app.edit'}}</a>
      <a href="#" class="component-delete">{{t 'app.delete'}}</a>
    </div>

    <div class="paste-zone paste-zone-component component display-none">
      <a href="#" class="paste-component">{{t 'app.paste'}}</a>
      <a href="#" class="paste-cancel">{{t 'app.cancel'}}</a>
    </div>
  </div>
</div>