{{>part_editorItemSidebar}}

<div class="page-article-detail">

  <h4 class="page-article-title">{{{title}}}</h4>
  <div class="page-article-body">{{{body}}}</div>
  
  <div class="page-article-blocks"></div>
  
  <div class="page-article-edit-panel">
    <a href="#" class="copy-article">{{t 'app.copy'}}</a>
    <a href="#" class="page-article-edit">{{t 'app.edit'}}</a>
    <a href="#" class="page-article-delete">{{t 'app.delete'}}</a>
  </div>

  <div class="add-control">
      <a href="#" class="btn btn-green add-block">{{t 'app.addblock'}}</a>
      <a href="#" class="btn btn-red page-article-delete">{{t 'app.delete'}}</a>
  </div>

</div>
