<div class="option-value-item">
<button data-callback="{{callbackEvent}}" data-group="{{group}}" title="{{title}}">
	{{#if icon}}
	<i class="fa fa-{{icon}}"></i>
	{{/if}}
	<div class="option-value-title">{{{title}}}</div>
</button>
</div
