<div class="config-edit">
    <div class="editing-overlay-panel">
        <a href="#" class="editing-overlay-panel-title active">
            <div class="editing-overlay-panel-title-inner">
                <h2>{{t 'app.settingsgeneral'}}</h2>
            </div>
        </a>
        <div class="editing-overlay-panel-content">
          <div class="editing-overlay-panel-content-inner">
            <form method="post" action="" class="forms">
                <div class="form-group">
                    <label for="config-defaultLanguage">
                        {{t 'app.defaultlanguage'}}
                    </label>
                    <input id="config-defaultLanguage" type="text" name="config-defaultLanguage" class="config-defaultLanguage width-10" value="{{_defaultLanguage}}"/>
                </div>

                <div class="form-group">
                    <label for="config-questionWeight">
                        {{t 'app.questionweight'}}
                    </label>
                    <input id="config-questionWeight" type="text" name="config-questionWeight" class="config-questionWeight width-10" value="{{_questionWeight}}"/>
                </div>

                <div class="form-group">
                    <label for="config-accessibilityenabled">
                    {{t 'app.accessibilityenabled'}}
                    </label>
                    <select id="config-accessibilityenabled" name="config-accessibilityenabled" class="config-accessibilityenabled">
                      {{renderBooleanOptions _isAccessibilityEnabled}}
                    </select>
                </div>

                <div class="form-group">
                    <label for="config-accessibilitylegacy">
                        {{t 'app.accessibilitylegacy'}}
                    </label>
                    <select id="config-accessibilitylegacy" name="config-accessibilitylegacy" class="config-accessibilitylegacy">
                      {{renderBooleanOptions _shouldSupportLegacy}}
                    </select>
                </div>

                <div class="form-group">
                    <label for="config-drawershoweasing">
                        {{t 'app.drawershoweasing'}}
                    </label>
                    <select id="config-drawershoweasing" name="config-drawershoweasing" class="config-drawershoweasing">
                        {{#each _easings}}
                        <option value="{{type}}" {{selected type ../_showEasing}}>{{type}}</option>
                        {{/each}}
                    </select>
                </div>
                
                <div class="form-group">
                    <label for="config-drawerhideeasing">
                    {{t 'app.drawerhideeasing'}}
                    </label>
                    <select id="config-drawerhideeasing" name="config-drawerhideeasing" class="config-drawerhideeasing">
                      {{#each _easings}}
                      <option value="{{type}}" {{selected type ../_hideEasing}}>{{type}}</option>
                      {{/each}}
                    </select>
                </div>
                
                <div class="form-group">
                    <label for="config-drawerduration">
                        {{t 'app.drawerduration'}}
                    </label>
                    <input id="config-drawerduration" type="text" name="config-drawerduration" class="config-drawerduration width-10" value="{{_duration}}"/> 
                </div>
                
            </form>
          </div>
        </div>
    </div>
    <div class="editing-overlay-panel">
      <a href="#" class="editing-overlay-panel-title">
          <div class="editing-overlay-panel-title-inner">
              <h2>Extensions</h2>
          </div>
      </a>
      <div class="editing-overlay-panel-content editing-overlay-panel-collapsed">
        <div class="editing-overlay-panel-content-inner">
          <div class="config-extensions"></div>
              </div>
      </div>
    </div>
</div>
