{{> header}}

    <div>
      <h1>Configure Server</h1>
      <p>By default, the origin will listen at http://{{serverName}}:{{serverPort}}. You can change that below.</p>
    </div>

    <div>
      {{#form formAction}}

        <fieldset>
          <legend>Server Details</legend>
          <div>
            {{label_validation 'serverName' 'Enter the hostname for your server' errors}}
            {{input_validation 'serverName' serverName errors}}
            {{#field_errors 'serverName' errors}}
              <span class="error">{{this}}</span>
            {{/field_errors}}
          </div>

          <div>
            {{label_validation 'serverPort' 'Enter the port on which the app will listen' errors}}
            {{input_validation 'serverPort' serverPort errors}}
            {{#field_errors 'serverPort' errors}}
              <span class="error">{{this}}</span>
            {{/field_errors}}
          </div>
        </fieldset>

        <fieldset>
          <legend>Actions</legend>
          {{submit 'submit' 'Continue' value="submit"}}
        </fieldset>

      {{/form}}
    </div>

{{> footer}}
