{{> header}}

    <div>
      <h1>Create a default Tenant</h1>
      <p>The Adapt Builder is a multi-tenanted system, allowing you to group projects and users together under a single organisation.</p>
      <p>In order to begin using the Builder, you must first create a default Tenant for the Super Administrator.</p>
    </div>

    <div>
      {{#form formAction}}

        <fieldset>
          <legend>Master Tenant</legend>

          {{label_validation 'tenantName' 'Enter a name for the master tenant' errors}}
          {{input_validation 'tenantName' tenantName errors}}
          {{#field_errors 'tenantName' errors}}
            <span class="error">{{this}}</span>
          {{/field_errors}}
        </fieldset>

        <fieldset>
          <legend>Admin user</legend>

          {{label_validation 'adminEmail' 'Enter an email address for the super administrator' errors}}
          {{input_validation 'adminEmail' adminEmail  errors}}
          {{#field_errors 'adminEmail' errors}}
            <span class="error">{{this}}</span>
          {{/field_errors}}

          {{label_validation 'adminPass' 'Password' errors}}
          {{password_validation 'adminPass' adminPass  errors}}
          {{#field_errors 'adminPass' errors}}
            <span class="error">{{this}}</span>
          {{/field_errors}}
        </fieldset>

        <fieldset>
          <legend>Actions</legend>
          {{submit 'submit' 'Continue' value="submit"}}
        </fieldset>

      {{/form}}
    </div>

{{> footer}}
