<!--
<button class="editor-common-sidebar-{{name}} action {{type}}">
  <span class="editor-common-sidebar-{{name}}-inner">{{t labels.default}}</span>
  <span class="editor-common-sidebar-{{name}}-processing display-none">
    <i class="fa fa-circle-o-notch fa-spin"></i>{{t labels.processing}}
  </span>
</button>
-->
<span class="label">{{t labels.default}}</span>
<span class="label-processing display-none">
  <i class="fa fa-circle-o-notch fa-spin"></i>{{t labels.processing}}
</span>
